<div class="container vertical-center ">
    <div class="row">
        <div class="col-sm-4 text-left ">
            <br>
           <a href="../index.html">
                        <img src="../assets/img/logo.png" alt="Ministère de la jeunesse et des sports">
                    </a>
        </div>
        <div class="col-sm-4 text-center">
            
            <div class="titre-page"><h1>Gestion du Patrimoine</h1></div>
        </div>
        <div class="col-sm-4 text-right">
          <strong>Entité :</strong> Entité centrale
        </div>
      </div>
      <div class="page-head-line" style="background-color: #04a8ca"></div>
 </div>